:root {
  --background: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  background:var(--background);
}
body{
  position: relative;
}
body::before{
  content: url("./img/blur-1.png");
  position: absolute;
  bottom:0px;
}
body::after{
  content: url("./img/blur-2.png");
  position: absolute;
  top: -20px;
  right: 0;
}
.header{
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 4rem;
  margin-bottom: .5rem;
z-index: 10000;
}
.menu-item{
  display: flex;
  gap: 2rem;
}
.menu-item li{
  list-style: none;
}
.menu-item a{
  font-size:1.2rem;
  line-height: 1.25;
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--text-color);
  transition: .3s;
}
.menu-item a:hover{
  color: var(--button);
}
.botao button{
  background: none;
  text-transform: uppercase;
  font-size: 0.6875rem;
  line-height: .875rem;
  color: var(--text-color);
  padding: .7rem 2.4rem;
  border: 2px solid var(--button);
  border-radius: 6px;
  cursor: pointer;
  transition: .5s;
}
.botao button:hover{
 background: var(--button);
}
.conteudo{
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
}
.texto{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
  font-size: 3rem;
}
.texto h1:nth-child(1){
  color: var(--text-color);
}
.texto h1:nth-child(2){
  background: none;
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}
.imagem{
  width: 100%;
  height:85%;
  display: flex;
  justify-content: center;
}
.imagem img{
  object-fit: cover;
}
