:root {
  --backgrond: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
body{
  min-height: 100vh;
  background: var(--backgrond);
  padding: 0rem 10rem;
}
.header{
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding-top: 2rem;
  position: relative;
  margin-bottom: 2rem;
}
.menu-item{
  display: flex;
  gap: 4rem;
}
.menu-item li{
  list-style: none;
}
.menu-item a{
  font-size:0,875;
  line-height: 1.25;
  letter-spacing: 1px;
  color: var(--text-color);
  text-decoration: none;
  padding: 1rem .0rem;
  position: relative;
  
}
.menu-item a::after{
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  margin-top: 4px;
  background: var(--text-color);
  transition: 0.4s;
  position: absolute;
}
.menu-item a:hover::after{
  width: 100%;
}
.botao button{
  background: none;
  padding: .7rem 2.4rem;
  border: 2px solid var(--button);
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 0.6875rem;
  line-height: .875rem;
  color: var(--text-color);
  cursor: pointer;
  transition: .5s;
}
.botao button:hover{
 background: var(--button);

}
.container{
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .texto{
  height: 25%;
  font-size: 4rem;
}
@media (max-height:1200px){
  .container .texto{
    height: 30%;
    font-size: 4rem;
  }
  .container .imagem {
    height: 70%;
  }
}
.container .texto h1:nth-child(1){
  color: var(--text-color);
}
.container .texto h1:nth-child(2){
  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}
.container .imagem {
  height: 75%;
}
.container .imagem img{
  height: 100%;
}